<html>
    <head>
        <title>Workshop labin sandbox</title>
        <link rel="stylesheet" href="/assets/styles/main.css">
    </head>
    <body>
        <main style="padding: 20px;">
            <header>
                <h1>SWAG</h1>

                <img src="/assets/images/hero-image.jpg" alt="">
            </header>
